*.pyc
*.idea
*.DS_Store
*.vscode
*.csv
*.db
*.pdf
*.png
*.txt
*.npz
*.pt
*.json
*.sqlite3
*.pdf
*.png
temp/
logs*/*
*/logs*/*
*.tar.gz
figures/
temp/
results
./data/*
tutorials
notebooks
.ipynb_checkpoints/
splits
*.log
*events.out.tfevents*
*.tsv
skipper/
